<div class="banner">
		<div class="wrapper">
			<h1>Beautifully Crafted<br> UI/UX Resources </h1>
		</div>
	</div>

	<div class="nav">
		<div class="wrapper">
			<a href="#">Popular</a>
			<a href="#">Recent</a>
			<label for="search">Search</label>
			<input type="search" placeholder="iPhone 6+ templates">
		</div>
	</div>

	<ul class="resources">
		<li>
			<img src="images/01.png">
			<div class="resource-info">
				<h2>Photo Frame</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$22</p>
			</div>
		</li>
		<li>
			<img src="images/02.png">
			<div class="resource-info">
				<h2>Perspective App Screen</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$13</p>
			</div>
		</li>
		<li>
			<img src="images/03.png">
			<div class="resource-info">
				<h2>Flat Design</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$19</p>
			</div>
		</li>
		<li>
			<img src="images/04.png">
			<div class="resource-info">
				<h2>Brown Paper PSD</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$18</p>
			</div>
		</li>
		<li>
			<img src="images/05.png">
			<div class="resource-info">
				<h2>Business Cards</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$10</p>
			</div>
		</li>
		<li>
			<img src="images/06.png">
			<div class="resource-info">
				<h2>Dark Mockup</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$12</p>
			</div>
		</li>
		<li>
			<img src="images/07.png">
			<div class="resource-info">
				<h2>Rounded Cards</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$9</p>
			</div>
		</li>
		<li>
			<img src="images/08.png">
			<div class="resource-info">
				<h2>Hard Cover Book</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$22</p>
			</div>
		</li>
		<li>
			<img src="images/09.png">
			<div class="resource-info">
				<h2>Gold Mockup</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$21</p>
			</div>
		</li>
		<li>
			<img src="images/10.png">
			<div class="resource-info">
				<h2>E-commerce Design</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$15</p>
			</div>
		</li>
		<li>
			<img src="images/11.png">
			<div class="resource-info">
				<h2>Paper Punch</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$14</p>
			</div>
		</li>
		<li>
			<img src="images/12.png">
			<div class="resource-info">
				<h2>Project Showcase</h2>
				<a href="#" class="button">View Resource</a>
				<p class="price">$24</p>
			</div>
		</li>
	</ul>
